.dropdown {
  width: max-content;

  &__container {
    position: relative;
    box-sizing: border-box;
    @include size($medium_input_width, 44px);
    border: {
      width: 1px;
      style: solid;
      color: $dark_shade_50_color;
      radius: 2px;
    }
    cursor: pointer;

    &_applied {
      width: $long_input_width;
    }

    &_bottom-borderless {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  &__uikit-state {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
  }

  &__selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 13px;
    padding-right: 16px;

    &::after {
      content: '';

      box-sizing: border-box;
      display: inline-block;
      @include size(8.5px, 8.5px);
      border-left: 2px solid $dark_shade_75_color;
      border-bottom: 2px solid $dark_shade_75_color;
      transform: rotate(-45deg);
    }
  }

  &__selection-text {
    margin: 0;
  }

  &__menu {
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    top: 44px;
    margin: -1px 0 0 -1px;
    padding-left: 15px;
    padding-right: 7px;
    width: inherit;
    border: inherit;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    cursor: default;

    &_hide {
      display: none;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__item-name {
    color: $dark_shade_100_color;
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__button {
    @include size(30px, 30px);
    border: {
      width: 1px;
      style: solid;
      color: $dark_shade_25_color;
      radius: 25px;
    }
    background-color: #fff;
    font: $body_text_font;
    font-size: 18px;
    color: $dark_shade_50_color;
    cursor: pointer;
    outline: none;

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__quantity {
    width: 32px;
    text-align: center;
    font-weight: bold;
    color: $dark_shade_100_color;
    font-size: 12px;
  }

  &__menu-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 13px;
  }

  &__clear-button {
    &_hide {
      visibility: hidden;
    }
  }
}
