include ../text/text

mixin pagination(description, testMode)
  .pagination&attributes(attributes)
    .pagination__container(data-test-mode=testMode.toString())
    +text.pagination__description= description