@import '~scsslider';

.landing-page {
  &__main {
    $slides: (
      '../../uploads/bg-slide-1.png',
      '../../uploads/bg-slide-2.png',
      '../../uploads/bg-slide-3.png'
    );
    @include scsslider($slides, 2, 3);

    box-sizing: border-box;
    @include size(100%, 831px);
    padding: 70px 140px 10px;
  }

  &__slider-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
  }

  &__main-text {
    align-self: flex-end;
    width: 297px;
    text-align: right;
  }
}
