include /components/logo/logo
include /components/link/link
include /components/button/button

mixin header({ navigationLinks, loginButtonText, registerButtonText, username }, bigLinksMargin = false)
  .header&attributes(attributes)
    +logo(true).header__logo
    .header__navigation
      each link in navigationLinks
        +link(link.url)(
          class=link.active ? 'header__nav-link_active' : ''
          class=link.expandable ? 'header__nav-link_expandable' : ''
          class=`header__nav-link_${bigLinksMargin ? 'big' : 'small'}-margin`
        ).header__nav-link= link.text
    if username
      span.header__username= username
    else
      .header__buttons
        +button('secondary').header__btn= loginButtonText
        +button('primary').header__btn= registerButtonText
