.header {
  @extend %container;

  // this is for correct displaying buttons with gradient rounded border.
  // TODO: find better solution
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px $dark-shade-5;

  &__navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav-link {
    &_active:link {
      color: $dark-shade-75;
      font-weight: bold;
    }

    &_expandable {
      display: inline-flex;
      align-items: center;
      margin-right: 20px;

      &::after {
        @extend %material-icons;
        content: 'expand_more';
      }
    }

    &_big-margin {
      margin-right: 30px;
    }

    &_small-margin {
      margin-right: 20px;
    }
  }

  &__username {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 30px;
    color: $dark-shade-50;
    border-left: 1px solid $dark-shade-10;
  }

  &__btn {
    height: 34px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media screen and (max-width: $wb-chrome-laptop) {
    & {
      flex-direction: column;
    }

    &__nav-link:last-child {
      margin-right: 0;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__buttons {
      display: none;
    }
  }

  @media screen and (max-width: $wb-custom-mobile-l) {
    &__navigation {
      flex-direction: column;
      align-items: center;
    }

    &__nav-link {
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
