@import '../../mixins-lib.scss';
@import '../../variables.scss';

.radio {
  display: flex;
  align-items: center;
  position: relative;
  color: $dark_shade_50_color;

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    @include size(20px, 20px);
    border: 1px solid $dark_shade_25_color;
    border-radius: 10px;

    &::before {
      content: '';

      display: none;
      @include size(12px, 12px);
      background: $primary_gradient;
      border-radius: 10px;
    }

    &:checked {
      border-color: $primary_color;
    }

    &:checked::before {
      display: inline-block;
    }

    // TODO: find better selector
    &:checked + .radio__content {
      color: $dark_shade_75_color;
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    margin-left: 10px;
  }
}
