mixin radio(content)
  label.radio(class!=attributes.class)
    input.radio__button(type='radio' name!=attributes.name value!=attributes.value checked!=attributes.checked)
    .radio__content= content