.radio {
  display: flex;

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: $dark-shade-50;
    cursor: pointer;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 20px;
    height: 20px;
    @include border($dark-shade-25);
    border-radius: 10px;

    &::before {
      content: '';

      display: none;
      @include size(12px, 12px);
      background: $primary-gradient;
      border-radius: 10px;
    }

    &:checked {
      border-color: $primary-color;
    }

    &:checked::before {
      display: block;
    }

    // TODO: find better selector
    &:checked + .radio__text {
      color: $dark-shade-75;
    }

    &:focus {
      outline: none;
    }
  }

  &__text {
    margin-left: 10px;
  }
}
