@import '../../variables.scss';

.input {
  position: relative;

  &__field {
    box-sizing: border-box;
    padding-left: 15px;
    height: 44px;
    border: 1px solid $dark_shade_25_color;
    border-radius: 4px;
    color: $dark_shade_75_color;

    &_active {
      border: 1px solid $dark_shade_50_color;
    }

    &_long {
      width: $long_input_width;
    }
  
    &_medium {
      width: $medium_input_width;
    }
  
    &_short {
      width: $short_input_width;
    }

    &::placeholder {
      font-size: 14px;
      color: $dark_shade_25_color;
    }

    &:hover {
      border: 1px solid $dark_shade_50_color;
    }

    &:focus {
      outline: none;
      border: 1px solid $dark_shade_50_color;
    }

    &:disabled {
      background-color: inherit;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: $dark_shade_50_color;

    &_colored {
      // thanks to: https://cssgradient.io/blog/css-gradient-text/
      background: $primary_gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
}