include /components/date-dropdown/date-dropdown
include /components/dropdown/dropdown
include /components/button/button

mixin search-card
  - 
    const {
      title,
      dateDropdown,
      dropdown,
      button 
    } = require('@layout/search-card/search-card.json')

  .search-card
    h1.search-card__title= title
    +date-dropdown(dateDropdown.startLabel, dateDropdown.endLabel)(
      placeholder=dateDropdown.placeholder
    ).search-card__date-dropdown
    +dropdown(dropdown.meta, dropdown.items).search-card__dropdown
    +button(button.type, button.text)
