@import '../card/card.scss';

.search-card {
  @extend .card;

  &__title {
    margin-bottom: 20px;
  }

  &__date-dropdown {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }
}
