.search-card {
  @extend %card;

  &__title {
    margin-bottom: 20px;
  }

  &__date-dropdown {
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 31px;
  }

  &__button {
    @extend %card__button;
  }
}
