.login-card {
  @extend %card;

  &__input-block {
    margin: 20px 0;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__button {
    margin-bottom: 30px;
  }

  &__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
