include /components/text-field/text-field
include /components/button/button

mixin login-card
  - 
    const {
      title,
      emailInput,
      passwordInput,
      loginButton,
      register
    } = require('@layout/login-card/login-card.json')

  .login-card
    h1.login-card__title= title
    form.login-card__form
      .login-card__input-block
        +text-field({})(
          placeholder= emailInput.placeholder
        ).login-card__input
        +text-field({})(
          placeholder= passwordInput.placeholder
        )
      +button(loginButton.type).login-card__button.login-card__button_login= loginButton.content
    .login-card__register
      span.login-card__register-text= register.text
      +button(register.button.type).login-card__button= register.button.content
