include /components/text-field/text-field
include /components/button/button

mixin login-card({ title, emailInputPlaceholder, passwordInputPlaceholder, loginButtonText, registerText, registerButtonText } = {})
  - 
    const {
      title: titleDefault,
      emailInput: emailInputDefault,
      passwordInput: passwordInputDefault,
      loginButton: loginButtonDefault,
      register: registerDefault
    } = require('@layout/login-card/login-card.json')

  .login-card
    h1.login-card__title= title ? title : titleDefault
    form.login-card__form
      .login-card__input-block
        +text-field({})(
          placeholder= emailInputPlaceholder ? emailInputPlaceholder : emailInputDefault.placeholder
        ).login-card__input
        +text-field({})(
          placeholder= passwordInputPlaceholder ? passwordInputPlaceholder : passwordInputDefault.placeholder
        )
      +button(loginButtonDefault.type).login-card__button= loginButtonText ? loginButtonText : loginButtonDefault.content
    .login-card__register
      span.login-card__register-text= registerText ? registerText : registerDefault.text
      +button(registerDefault.button.type)= registerButtonText ? registerButtonText : registerDefault.button.content
