extends /layout/app-base/app-base

include /layout/header/header
include /layout/login-card/login-card
include /layout/footer/footer

block head
  title Sign in
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet")

block body
  - const { header, footer } = require('./sign-in.json')

  .sign-in
    +header(header)
    main.sign-in__main
      +login-card.sign-in__login-card
    +footer(footer)