.sign-in {
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../uploads/registration-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media screen and (max-width: $wb-chrome-mobile-l) {
      height: auto;
      padding: 30px 0;
    }
  }
}
