//- types:
//-   primary
//-   secondary
//-   primary-string
//-   secondary-string
//-   action

mixin button(type='primary', text, hovered)
  button.button(class=`button_${type}` class=hovered && 'button_hovered')&attributes(attributes)= text
