//- types:
//-   primary
//-   outlined
//-   primary-string
//-   string
//-   action

mixin button(type='primary', content)
  button.button(class=`button_${type}` disabled!=attributes.disabled class!=attributes.class)= content
    i.button__icon.material-icons= type === 'action' ? 'arrow_forward' : ''