.button {
  position: relative;
  padding: 0;
  border: none;
  border-radius: 22px;
  @extend %label-text;
  color: $primary-color;
  cursor: pointer;

  &_primary,
  &_secondary {
    padding: 0 20px;
  }

  &_primary {
    background-image: $primary-gradient;
    color: #fff;

    &:hover,
    &.button_hovered {
      opacity: 0.5;
    }
  }

  &_secondary {
    @include extended_border(2px, 22px, $primary-gradient);
    background-color: #fff;

    &:hover,
    &.button_hovered {
      @include extended_border_opaticy(0.5);
    }
  }

  &_primary-string,
  &_secondary-string {
    height: max-content;
    border: none;
    background: none;
  }

  &_secondary-string {
    color: $dark-shade-50;
  }

  &_action {
    width: 100%;
    max-width: $long-input-width;
    background-image: $primary-gradient;
    color: #fff;

    &::before {
      @extend %material-icons;
      content: 'arrow_forward';
      position: absolute;
      right: 14px;
      top: 10px;
    }
  }

  &:focus {
    outline: none;
  }
}
