//- types:
//-   primary
//-   secondary
//-   primary-string
//-   secondary-string
//-   action

mixin button(type='primary', text)
  button.button(class=`button_${type}`)&attributes(attributes)= text
