//- types:
//-   primary
//-   secondary
//-   primary-string
//-   secondary-string
//-   action

mixin button(type='primary', content)
  button.button(class=`button_${type}`)&attributes(attributes)= content
    if (type === 'action')
      i.button__icon.material-icons arrow_forward