@import '../../scss/material-icons.scss';

.like-button {
  text-align: left;
  padding: 0;
  padding-left: 5px;
  padding-right: 11px;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  min-width: 40px;
  height: 20px;
  font: $body_text_font;
  font-size: 10px;

  @include extended_border(1px, 10px, $dark_shade_25_color);
  background-color: #fff;
  color: $dark_shade_25_color;

  &::before {
    @extend .material-icons;
    content: 'favorite_border';
    font-size: 10px;
  }

  &_active {
    @include extended_border_color($primary_gradient);
    color: $primary_color;

    &::before {
      content: 'favorite';
    }
  }

  &:focus {
    outline: none;
  }
}
