@import '../../variables';

.text-examples {
  width: 336px;

  .text-example {
    position: relative;
    margin-bottom: 50px;

    &::before {
      font-family: 'Montserrat-Regular';
      color: $dark_shade_25_color;
    }

    &.text-example__main-header {
      font: $big_header_font;
    }

    &.text-example__mid-header {
      font: $medium_header_font;
    }

    &.text-example__small-header {
      font: $small_header_font;
    }

    &.text-example__body-text {
      font: $body_text_font;
    }

    &.text-example__main-header::before {
      position: absolute;
      left: -55px;
      content: 'H1';
    }

    &.text-example__mid-header::before {
      position: absolute;
      left: -55px;
      content: 'H2';
    }

    &.text-example__small-header::before {
      position: absolute;
      left: -54px;
      content: 'H3';
    }

    &.text-example__body-text::before {
      position: absolute;
      left: -65px;
      content: 'Body';
    }
  }  
}
