.text-examples {
  width: 336px;

  .text-example {
    position: relative;
    margin-bottom: 50px;

    &::before {
      font-family: 'Montserrat-Regular';
      color: $dark-shade-25;
    }

    &.text-example__main-header {
      @include title-text;
    }

    &.text-example__mid-header {
      @include subtitle-text;
    }

    &.text-example__small-header {
      @include label-text;
    }

    &.text-example__body-text {
      @include body-text;
    }

    &.text-example__main-header::before {
      position: absolute;
      left: -55px;
      content: 'H1';
    }

    &.text-example__mid-header::before {
      position: absolute;
      left: -55px;
      content: 'H2';
    }

    &.text-example__small-header::before {
      position: absolute;
      left: -54px;
      content: 'H3';
    }

    &.text-example__body-text::before {
      position: absolute;
      left: -65px;
      content: 'Body';
    }
  }
}
