.text-examples {
  display: grid;

  // ? maybe there is a way to avoid this hardcoded number?
  grid-template-columns: min-content 336px;

  grid-gap: 50px 30px;

  &__tag {
    font-family: 'Montserrat';
    
    // ? how to avoid using this priperty and draw normal font weight by default? (if I remove this, text became bold)
    font-weight: normal;

    text-align: right;
    color: $dark-shade-25;

    // ? needs a variables? these values same as in neightbor components
    &_h1 {
      font-size: 24px;
    }

    &_h2 {
      font-size: 19px;
    }

    &_h3 {
      font-size: 12px;
    }

    &_body {
      line-height: 24px;
    }
  }
}
