mixin text-examples
  .text-examples
    h1.text-example.text-example__main-header
      //- span.text-example_type H1
      span.text-example_content This one is the sub-section or widget title
    h2.text-example.text-example__mid-header
      //- span.text-example_type H2
      span.text-example_content Next one is the item title inside widgets
    h3.text-example.text-example__small-header
      //- span.text-example_type H3
      span.text-example_content This is a label or CTA text
    p.text-example.text-example__body-text
      //- span.text-example_type Body
      span.text-example_content This is the body text which is used for most of the design, like paragraphs, lists, etc.