extends /layout/app-base/app-base

include /layout/header/header
include /layout/room-card/room-card
include /layout/complex-footer/complex-footer

include /components/date-dropdown/date-dropdown
include /components/dropdown/dropdown
include /components/range-slider/range-slider
include /components/checkbox-list/checkbox-list
include /components/pagination/pagination
include /components/title/title

block head
  title Search room
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet")

block body
  - 
    const { 
      header,
      filterDateDropdown,
      guestsDropdown,
      priceRangeSlider,
      checkboxList,
      richCheckboxList,
      comfortsDropdown,
      additionalComfortsCheckboxList,
      pagination,
      complexFooter,
      roomPreviews
    } = require('./search-room.json')

  .search-room.js-search-room
    +header(header)
    main.search-room__main
      .search-room__filters
        +date-dropdown(filterDateDropdown.label)(
          startDate=filterDateDropdown.startDate
          endDate=filterDateDropdown.endDate
        ).js-search-room__filter-date-dropdown
        +dropdown(guestsDropdown.meta, guestsDropdown.items)
        +range-slider(priceRangeSlider)
        +checkbox-list(checkboxList.title, checkboxList.checkboxes)
        +checkbox-list(richCheckboxList.title, richCheckboxList.checkboxes)
        +dropdown(comfortsDropdown.meta, comfortsDropdown.items)
        +checkbox-list(additionalComfortsCheckboxList.title, additionalComfortsCheckboxList.checkboxes, additionalComfortsCheckboxList.expanded)
      .search-room__rooms
        +title.search-rooms__rooms-title
        .search-room__room-previews
          each room in roomPreviews
            +room-card(room).search-room__room-preview
        +pagination(pagination.description, pagination.testMode)
    +complex-footer(complexFooter)


