.color {
  // TODO: remove it from here
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  font: 19px Quicksand, Arial, sans-serif;
  color: $dark-shade;

  &__preview {
    min-width: 70px;
    min-height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &_color {
      &_dark-shade-100 {
        background-color: $dark-shade;
      }

      &_dark-shade-75 {
        background-color: $dark-shade-75;
      }

      &_dark-shade-50 {
        background-color: $dark-shade-50;
      }

      &_dark-shade-25 {
        background-color: $dark-shade-25;
      }

      &_dark-shade-5 {
        background-color: $dark-shade-5;
      }

      &_purple {
        background-color: $primary-color;
      }

      &_green {
        background-color: $secondary-color;
      }
    }
  }

  &__name {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
