.color {
  width: 270px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Quicksand-Regular';

  &__preview {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__info {
    font-size: 19px;
    line-height: 29px;
  }

  &__name {
    @include subtitle-text;
  }

  &__dark-shade-100 {
    background-color: $dark-shade-100;
  }

  &__dark-shade-75 {
    background-color: $dark-shade-75;
  }

  &__dark-shade-50 {
    background-color: $dark-shade-50;
  }

  &__dark-shade-25 {
    background-color: $dark-shade-25;
  }

  &__dark-shade-5 {
    background-color: $dark-shade-5;
  }

  &__purple {
    background-color: $primary-color;
  }

  &__green {
    background-color: $secondary-color;
  }
}
