@import '../../variables';

.color {
  width: 270px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Quicksand-Regular';

  &__preview {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__info {
    font-size: 19px;
    line-height: 29px;
  }

  &__name {
    font: $medium_header_font
  }

  &__dark_shade_100 {
    background-color: $dark_shade_100_color;
  }

  &__dark_shade_75 {
    background-color: $dark_shade_75_color;
  }

  &__dark_shade_50 {
    background-color: $dark_shade_50_color;

  }

  &__dark_shade_25 {
    background-color: $dark_shade_25_color;

  }

  &__dark_shade_5 {
    background-color: $dark_shade_5_color;

  }

  &__purple {
    background-color: $primary_color;
  }

  &__green {
    background-color: $secondary_color;
  }
}