@import '../../scss/material-icons.scss';
@import '../button/button.scss';

.date-dropdown {
  display: flex;
  justify-content: space-between;
  width: 320px;

  &__date {
    position: relative;

    &::after {
      @extend .material-icons;
      content: 'expand_more';
      position: absolute;
      bottom: 0;
      right: 0;
      @include size(44px, 44px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    box-sizing: border-box;
    @include size(150px, 44px);
    padding-left: 15px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    @include body-text;

    &::placeholder {
      color: $dark-shade-75;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid $dark-shade-50;
    }

    &_single {
      width: $medium-input-width;
    }
  }
}

.datepickers-container .datepicker {
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  font: normal 12px 'Montserrat';
  color: $dark-shade-50;

  &--cell {
    &.-focus- {
      background: none;
    }

    &.-disabled- {
      color: $dark-shade-25;
    }
  }

  &--cell.datepicker--cell-day {
    height: 40px;
    border-radius: 22px;

    &.-focus- {
      background: none;
    }

    &.-disabled- {
      color: inherit;
    }

    &.-other-month-,
    &.-other-month-.-disabled- {
      color: $dark-shade-25;
    }

    &.-current- {
      background: $secondary-gradient;
      color: #fff;
      font-weight: bold;
    }

    &.-current-.-selected- {
      background: $primary-gradient;
    }

    &.-current-.-in-range- {
      font-weight: normal;
    }

    &.-selected- {
      background: $primary-gradient;
    }

    &.-other-month-.-selected- {
      background: $primary-gradient;
    }

    &.-in-range- {
      background: $primary-gradient-25;
      color: inherit;
      border-radius: 0;
    }

    &.-in-range-.-other-month- {
      background: $primary-gradient-25;
    }

    &.-range-from-,
    &.-range-to-,
    &.-range-from.-focus-,
    &.-range-to.-focus-,
    &.-range-from-.-focus-.-other-month-,
    &.-range-to-.-focus-.-other-month- {
      font-weight: bold;
      border: none;
      border-radius: 22px;

      background: $primary-gradient;
      color: #fff;
    }

    &.-range-from-.-other-month-,
    &.-range-from-.-other-month-.-focus- {
      color: #fff;
    }

    &.-range-from- {
      z-index: auto;

      &::after {
        content: '';

        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0 + 50%;
        z-index: -2;
        background: $primary-gradient-25;
      }
    }

    &.-range-to- {
      z-index: auto;

      &::before {
        content: '';

        display: block;
        position: absolute;
        top: 0;
        right: 0 + 50%;
        bottom: 0;
        left: 0;
        z-index: -2;
        background: $primary-gradient-25;
      }
    }
  }

  &--days-names {
    flex-wrap: nowrap;
    margin: 0;
  }

  &--day-name {
    flex: none;
    @include size(40px, 40px);
    @include label-text;
    text-transform: none;
    color: $primary-color;
  }

  &.-from-top-,
  &.-from-right-,
  &.-from-bottom-,
  &.-from-left- {
    -webkit-transform: none;
    transform: none;
  }

  &--pointer {
    display: none;
  }

  &--content {
    padding: 30px 0 20px;
  }

  &--nav {
    min-height: auto;
    padding: 0;
    border: none;

    &-action {
      width: auto;
      border-radius: 0;
      color: $primary-color;

      &:hover {
        background-color: inherit;
      }
    }

    &-title {
      @include subtitle-text;

      &:hover {
        background-color: inherit;
      }
    }
  }

  &--buttons {
    justify-content: space-between;
    padding: 0;
    border-top: none;
  }

  &--button {
    @extend .button;
    flex: none;

    &:hover {
      background: none;
    }

    &[data-action='clear'] {
      @extend .button_secondary-string;
    }

    &[data-action='apply'] {
      @extend .button_primary-string;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &--cell.datepicker--cell-month,
  &--cell.datepicker--cell-year {
    &.-current- {
      @include gradient-text($secondary-gradient);
      font-weight: bold;
    }

    &.-selected-,
    &.-in-range- {
      @include gradient-text($primary-gradient);
      font-weight: bold;
    }

    &.-disabled-.-focus-,
    &.-other-decade- {
      color: $dark-shade-25;
    }
  }
}
