@import '../../vendors-extensions/air-datepicker/air-datepicker.scss';

@import '../button/button.scss';

.date-dropdown {
  display: flex;
  justify-content: space-between;

  &__date {
    position: relative;

    &::after {
      @extend %material-icons;
      content: 'expand_more';
      position: absolute;
      bottom: 0;
      right: 0;
      @include size(44px, 44px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__label {
    margin-bottom: 5px;
  }

  &__start-date-input,
  &__end-date-input,
  &__single-input {
    @extend %field;

    box-sizing: border-box;

    &::placeholder {
      color: $dark-shade-75;
    }

    &:focus,
    &:hover {
      @extend %field_hovered-focused;
    }
  }

  &__start-date-input,
  &__end-date-input {
    width: $short-input-width;
  }

  &__single-input {
    width: $medium-input-width;
  }

  &__inline-datepicker {
    @include size(max-content, max-content);
    padding: 0;
    border: none;

    &:focus,
    &:hover {
      border: none;
    }
  }
}
