.range-slider {
  position: relative;
  width: $medium-input-width;

  &__title {
    position: absolute;
    top: -6px;
  }
}

/**
Ion.RangeSlider, 2.3.1
© Denis Ineshin, 2010 - 2019, IonDen.com
Build date: 2019-12-19 16:51:02
*/
.irs {
  // old
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // new
  margin-top: 3px;
  @extend %body-text;
  font-size: 12px;
  text-align: right;

  &-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
  }

  &-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
  }

  &-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    cursor: default;
    z-index: 1;
  }

  &-single {
    // old
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;

    // new
    visibility: visible !important;
    // https://github.com/IonDen/ion.rangeSlider/issues/517
    pointer-events: none;
  }

  &-hidden-input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
    z-index: -9999;
    background: none;
    border-style: solid;
    border-color: transparent;
  }

  &--flat {
    height: 40px;
  }
  &--flat &-line {
    // old
    top: 25px;

    // new
    box-sizing: border-box;
    height: 6px;
    background-color: #fff;
    border: {
      width: 1px;
      style: solid;
      color: $dark-shade-25;
      radius: 3px;
    }
  }
  &--flat &-bar {
    // old
    top: 25px;

    // new
    height: 6px;
    background-image: $secondary-gradient;
  }
  &--flat &-handle {
    // old
    top: 22px;

    // new
    @include size(12px, 12px);
    background-image: $secondary-gradient;
    border: {
      width: 1px;
      style: solid;
      color: #fff;
      radius: 10px;
    }
  }
  // new
  &--flat &-from,
  &--flat &-to {
    display: none;
  }

  &--flat &-single {
    // new
    position: absolute;
    top: -6px;
    right: 0px;
    color: $dark-shade-50;
  }
}
