.form-elements {
  @extend %container;

  display: grid;
  grid-template-columns: repeat(3, $long-input-width);
  grid-template-rows: min-content 265px + 40px min-content min-content;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: 65px;

  &__label {
    margin-bottom: 16px;
  }

  &__elements-container {
    &_double-spaced {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  &__element {
    &_small-bottom-margin {
      margin-bottom: 20px;
    }

    &_big-bottom-margin {
      margin-bottom: 40px;
    }

    &_1-2-rows-gap {
      margin-bottom: 100px;
    }

    &_2-3-row-gap {
      margin-bottom: 40px;
    }

    &_small-top-margin {
      margin-top: 17px;
    }
  }

  &__radio,
  &__button,
  &__rating {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__button {
    margin-bottom: 30px;
    height: 44px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__toggle {
    margin-bottom: 14px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__like-button {
    margin-right: 10px;
  }
}
