extends /layout/app-base/app-base

include /layout/header/header
include /layout/registration-card/registration-card
include /layout/footer/footer

block head
  title Landing page
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet")

block body
  - const { header, footer } = require('./registration.json')

  .registration
    +header(header)
    main.registration__main
      +registration-card.registration__register-card
    +footer(footer)