@import '../card/card.scss';

.registration-card {
  @extend .card;

  &__input-block {
    margin: 20px 0;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__button {
    // figure out how to merge this margin with sibling's margin
    margin-top: 4px;
    margin-bottom: 30px;
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__radio {
    margin-right: 20px;
  }
}
