mixin logo(colored = false)
  .logo&attributes(attributes)
    if colored
      img.logo__image(src=require('@images/logo-colored.svg').default)
      img.logo__text(src=require('@images/logo-text.svg').default)
    else
      img.logo__image(src=require('@images/logo-gray.svg').default)
