.checkbox-list {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_expanded,
    &_hidden {
      width: $medium-input-width;
      cursor: pointer;
      &::after {
        @extend %material-icons;
        @include size(44px, 44px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $dark-shade-50;
      }
    }

    &_expanded {
      &::after {
        content: 'expand_more';
        transform: rotate(180deg);
      }
    }

    &_hidden {
      &::after {
        content: 'expand_more';
      }
    }
  }

  &:not(.checkbox-list_expandable) &__checkboxes {
    margin-top: 16px;
  }

  &__checkbox {
    margin-bottom: 10px;

    &:last-of-type {
      margin: 0;
    }
  }
}
