include ../like-button/like-button
include ../text/text

mixin comment({ authorName, publishedDate, avatarUrl, likes, isLiked, commentText })
  .comment
    .comment__author
      img(src=avatarUrl).comment__avatar
      p.comment__author-info
        span.comment__author-name= authorName
        time.comment__published-date= publishedDate
    .comment__comment-info
      +like-button(isLiked).comment__like-button= likes
      +text.comment__text= commentText
