include /components/logo/logo
include /components/text/text
include /components/label/label
include /components/link/link
include /components/text-field/text-field
include /components/social-buttons/social-buttons

mixin complex-footer({ aboutText, categories, subscription, copyrightText })
  .complex-footer&attributes(attributes)
    .complex-footer__main-content
      .complex-footer__about
        +logo(true).complex-footer__logo
        +text= aboutText
      .complex-footer__categories
        each category in categories
          .complex-footer__category
            +label.complex-footer__category-name= category.name
            .complex-footer__category-links
              each link in category.links
                +link(link.url).complex-footer__category-link= link.text
      .complex-footer__subscription
        +label.complex-footer__subscription-title= subscription.title
        +text.complex-footer__subscription-text= subscription.text
        +text-field({ type: 'subscription' })(placeholder=subscription.inputPlaceholder)
    .complex-footer__footer
      +text.complex-footer__copyright= copyrightText
      +social-buttons.complex-footer__social-buttons