.complex-footer {
  background-color: #fff;

  &__main-content,
  &__footer {
    padding-left: 140px;
    padding-right: 140px;
  }

  &__main-content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }

  &__main-content {
    border-bottom: 1px solid $dark-shade-10;
  }

  &__categories {
    display: flex;
    margin-left: 40px;
    margin-right: 87px;
  }

  &__category {
    margin-right: 118px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__category-name {
    margin-bottom: 21px;
  }

  &__category-link {
    display: block;
    width: max-content;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__subscription-title,
  &__subscription-text {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 70px;
  }

  &__social-buttons {
    margin-left: auto;
  }

  &__icon-link {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    font-size: 24px;
    @include text-gradient($primary-gradient);
  }
}
