include ../layout/base

include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/masked-text-field/masked-text-field
include ../components/date-dropdown/date-dropdown
include ../components/filter-date-dropdown/filter-date-dropdown
include ../components/subscription-text-field/subscription-text-field


- 
  const settings = {
    defaultTextField: {
      label: 'text field',
      size: 'long',
      id: 'text_field',
      ui_kit_state: 'default',
      placeholder: 'Email'
    },
    activeTextField: {
      label: 'text field',
      size: 'long',
      id: 'active_text_field',
      ui_kit_state: 'hover / focus',
      ui_kit_isActive: true,  
      value: 'This is pretty awesome'
    },
    dropdown: {
      label: 'dropdown',
      size: 'long',
      id: 'dropdown',
      ui_kit_state: 'default',
      value: 'Сколько гостей',
      icon_name: 'expand_more'
    },
    maskedTextField: {
      label: 'masked text field',
      size: 'long',
      id: 'masked_text_field',
      ui_kit_state: 'default',
      placeholder: 'ДД.ММ.ГГГГ'
    },
    dateDropdownLeft: {
      label: 'date dropdown',
      value: 'ДД.ММ.ГГГГ',
      id: 'date_dropdown'
    },
    dateDropdownRight: {
      label: 'date dropdown',
      value: '19.08.2019',
      id: 'date_dropdown'
    },
    filterDateDropdown: {
      label: 'filter date dropdown',
      value: '19 авг - 23 авг',
      id: 'filter_date_dropdown'
    },
    subscriptionTextField: {
      label: 'subscription text field',
      placeholder: 'Email',
      id: 'subscription_text_field'
    }
  } 

+base
  +text-field(settings.defaultTextField)
  +text-field(settings.activeTextField)
  +dropdown(settings.dropdown)
  +masked-text-field(settings.maskedTextField)
  +date-dropdown(settings.dateDropdownLeft)
  +date-dropdown(settings.dateDropdownRight)
  +filter-date-dropdown(settings.filterDateDropdown)
  +subscription-text-field(settings.subscriptionTextField)

