include ../layout/base

include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/masked-text-field/masked-text-field


- 
  const settings = {
    defaultTextField: {
      label: 'text field',
      size: 'long',
      id: 'text_field',
      ui_kit_state: 'default',
      placeholder: 'Email'
    },
    activeTextField: {
      label: 'text field',
      size: 'long',
      id: 'active_text_field',
      ui_kit_state: 'hover / focus',
      ui_kit_isActive: true,  
      value: 'This is pretty awesome'
    },
    dropdown: {
      label: 'dropdown',
      size: 'long',
      id: 'dropdown',
      ui_kit_state: 'default',
      value: 'Сколько гостей',
      icon_name: 'expand_more'
    },
    maskedTextField: {
      label: 'masked text field',
      size: 'long',
      id: 'masked_text_field',
      ui_kit_state: 'default',
      placeholder: 'ДД.ММ.ГГГГ'
    }
  } 

+base
  +text-field(settings.defaultTextField)
  +text-field(settings.activeTextField)
  +dropdown(settings.dropdown)
  +masked-text-field(settings.maskedTextField)
