include ../layout/base

include ../components/text-field/text-field

- 
  let fieldSettings = {
    label: 'text field',
    id: 'text_field',
    placeholder: 'Email',
    size: 'long',
    ui_kit_state: 'default'
  }

+base
  +text-field(fieldSettings)
