extends /layout/uikit-base/uikit-base

include /layout/header/header
include /layout/complex-footer/complex-footer
include /layout/simple-footer/simple-footer

block settings
  - const dark = true

block head 
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet")
  title Headers And Footers

block body
  - const { headerAuth, headerNonAuth, complexFooter, simpleFooterText } = require('./headers-and-footers.json')
  
  .headers-and-footers
    +header(headerAuth).headers-and-footers__layout-component
    +header(headerNonAuth).headers-and-footers__layout-component
    +complex-footer(complexFooter).headers-and-footers__layout-component
    +simple-footer(simpleFooterText).headers-and-footers__layout-component
