@import '../../variables.scss';

.field {
  width: max-content;
  font: $body_text_font;

  &_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &_name {
    font: $small_header_font;
    text-transform: uppercase;
  }

  &_state {
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_shade_50_color;
  }
}