include ../field/field

mixin masked-text-field({ label, value, id, size, placeholder, ui_kit_isActive, ui_kit_state })
  +field({ label, value, id, size, placeholder, ui_kit_isActive, ui_kit_state })