extends ../../layout/base

include ../../components/color/color
include ../../components/text-examples/text-examples

block head
  title Colors and text

block body
  - const colors = require('./colors-and-text.json')

  .container
    .container__content
      each color in colors
        +color(color.name, color.code, color.className)
    .container__content
      +text-examples