@import '../../variables.scss';
@import '../../mixins-lib.scss';

.checkbox-container {
  display: block;
  position: relative;

  $checkbox_width: 20px;
  $checkbox_height: 20px;

  height: $checkbox_height;

  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;

    position: absolute;
    box-sizing: border-box;
    height: inherit;
    width: $checkbox_width;

    background-color: #fff;

    // checkbox border
    @include extended_border(1px, 4px, $dark_shade_25_color);
    // checkbox border color on checked
    @include extended_border_color_on('checked', $primary_gradient);

    // checkmark styles
    &::after {
      content: '';

      display: none;
      box-sizing: border-box;
      position: absolute;
      top: 4px; left: 6px; 
      @include size(6px, 8px);
      
      border: {
        width: 0 2px 2px 0;
        style: solid;
        image: $primary_gradient;
        image-slice: 1;
      };
      transform: rotate(45deg);
    }

    // show checkmark when checkbox is checked
    &:checked::after {
      display: inline-block;
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    padding-left: $checkbox_width + 10px;

    font: $body_text_font;
    color: $dark_shade_50_color;
  }
}