mixin checkbox(content)
  label.checkbox-container(class!=attributes.class)
    input.checkbox-container__checkbox(type= 'checkbox')(
      id!=attributes.id
      name!=attributes.name
      value!=attributes.value
    )
    .checkbox-container__content= content