@import '../../variables.scss';
@import '../../mixins-lib.scss';

.checkbox {
  display: flex;
  position: relative;

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    min-width: 20px;
    height: 20px;
    background-color: #fff;

    // checkbox border styles
    &::before {
      content: '';

      display: block;
      box-sizing: border-box;
      height: inherit;
      border: 1px solid $dark_shade_25_color;
      border-radius: 4px;
    }

    &:checked::before {
      border-color: $primary_color;
    }

    // checkmark styles
    &::after {
      content: '';

      display: none;
      box-sizing: border-box;
      position: absolute;
      top: 5px;
      left: 7px;
      @include size(6px, 8px);

      border: {
        width: 0 2px 2px 0;
        style: solid;
        image: $primary_gradient;
        image-slice: 1;
      }
      transform: rotate(45deg);
    }

    // show checkmark when checkbox is checked
    &:checked::after {
      display: inline-block;
    }

    &:focus {
      outline: none;
    }
  }

  &__content {
    padding-left: 10px;
    color: $dark_shade_50_color;
  }

  &__text {
    &_bold {
      font-weight: bold;
      color: $dark_shade_75_color;
    }
  }

  &__description {
    margin-top: 5px;
    font-size: 12px;
  }
}
