mixin bullet-list(items, name)
  .bullet-list
    if name 
      h3.bullet-list__name= name
    ul.bullet-list__bullet-container
      each item in items
        li.bullet-list__item
          p.bullet-list__item-text= item