.bullet-list {
  $container-left-padding: 20px;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: $container-left-padding;

  &__item {
    @extend %body-text;
    line-height: 24px;

    position: relative;
    margin-bottom: 10px;

    text-indent: -$container-left-padding;

    &::before {
      content: '';

      display: inline-block;
      @include size(10px, 10px);
      margin-right: 10px;
      background-image: url(../../images/bullet.svg);
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
