extends /layout/uikit-base/uikit-base

include /components/color/color
include /components/text-examples/text-examples

block head
  title Colors and type

block body
  - const colors = require('./colors-and-type.json')

  .container
    .container__content
      each color in colors
        +color(color.name, color.code, color.className)
    .container__content
      +text-examples