mixin features(features)
  .features
    each feature in features
      .features__feature
        i.features__icon.material-icons= feature.icon
        .features__text
          span.features__name= feature.name
          br
          span.features__description= feature.description