.features {
  &__feature {
    display: flex;
    align-items: center;

    width: 280px;
    padding-bottom: 20px;
    border-bottom: 1px solid $dark-shade-10;
    margin-bottom: 20px;

    &_with-last-separator:last-child {
      border-bottom: 1px solid $dark-shade-10;
    }

    &_without-last-separator:last-child {
      border-bottom: none;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__text {
    padding-left: 10px;
    line-height: 24px;
  }

  &__icon {
    @extend %material-icons;
    font-size: 48px;
    user-select: none;

    @include text-gradient($primary-gradient);
  }

  &__name {
    margin-bottom: 8px;
    font-weight: bold;
  }
}
