.registration-card {
  @extend %card;

  &__input-block {
    margin: 20px 0;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__button {
    @extend %card__button;

    &_next-step {
      // figure out how to merge this margin with sibling's margin
      margin-top: 4px;
      margin-bottom: 30px;
    }
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__radio {
    margin-right: 20px;
  }

  @media screen and (max-width: $wb-chrome-mobile-s) {
    &__login {
      flex-direction: column;
    }

    &__login-text {
      margin-bottom: 15px;
    }
  }
}
