mixin toggle(content)
  label.toggle(class!=attributes.class)
    input.toggle__button(type='checkbox' name!=attributes.name value!=attributes.value checked!=attributes.checked)
    span.toggle__content= content