.toggle {
  display: flex;
  align-items: center;

  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;

    position: relative;
    min-width: 40px;
    height: 20px;

    border: {
      width: 1px;
      style: solid;
      color: $dark-shade-25;
      radius: 10px;
    }

    background-color: #fff;

    &:checked {
      border-color: $primary-color;
    }

    &::after {
      content: '';

      display: inline-block;
      position: absolute;
      top: 3px;
      left: 3px;

      @include size(12px, 12px);
      background-color: $dark-shade-25;
      border-radius: 10px;

      transition: {
        duration: 0.2s;
        property: left;
        timing-function: linear;
      }
    }

    // probably this way to animate may badly affect performance,
    // so it should be reconsidered in future.
    &:checked::after {
      left: 23px;
      background: $primary-gradient;
    }

    &:focus {
      outline: none;
    }
  }

  &__text {
    margin-left: 10px;
  }
}
