include /components/text/text

mixin toggle(text)
  label.toggle(class!=attributes.class)
    input.toggle__button(type='checkbox' name!=attributes.name value!=attributes.value checked!=attributes.checked)
    +text.toggle__text= text