@import './variables.scss';
@import './fonts.scss';

body {
  margin: 0;
  @include body-text;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  @include label-text;
}

p {
  margin: 0;
  line-height: 1.4;
}

.material-icons {
  user-select: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;

  padding-top: 145px;
  padding-left: 150px;
  padding-right: 191px;
  padding-bottom: 145px;
}
