// colors
@function dark-shade($alpha) {
  @return rgba(31, 32, 65, $alpha);
}

$dark-shade-100: dark-shade(1);
$dark-shade-75: dark-shade(0.75);
$dark-shade-50: dark-shade(0.5);
$dark-shade-25: dark-shade(0.25);
$dark-shade-10: dark-shade(0.1);
$dark-shade-5: dark-shade(0.05);

$primary-color: #bc9cff;
$secondary-color: #6fcf97;

@function primary-gradient($alpha) {
  @return linear-gradient(
    180deg,
    change-color($primary-color, $alpha: $alpha) 0%,
    change-color(#8ba4f9, $alpha: $alpha) 100%
  );
}

$primary-gradient: primary-gradient(1);
$primary-gradient-25: primary-gradient(0.25);

$secondary-gradient: linear-gradient(180deg, $secondary-color 0%, #66d2ea 100%);

// text
@mixin title-text {
  font: bold 24px 'Quicksand';
  color: $dark-shade-100;
}

@mixin subtitle-text {
  font: bold 19px 'Quicksand', 'Open Sans';
  color: $dark-shade-100;
}

@mixin label-text {
  font: bold 12px 'Montserrat';
  letter-spacing: 0.012rem;
  text-transform: uppercase;
  color: $dark-shade-100;
}

@mixin body-text {
  font: normal 14px 'Montserrat';
  color: $dark-shade-75;
}

// input
$long-input-width: 320px;
$medium-input-width: 266px;
$short-input-width: 150px;
