// colors
@function dark-shade($alpha) {
  @return rgba(31, 32, 65, $alpha);
}

$dark-shade-100: dark-shade(1);
$dark-shade-75: dark-shade(0.75);
$dark-shade-50: dark-shade(0.5);
$dark-shade-25: dark-shade(0.25);
$dark-shade-10: dark-shade(0.1);
$dark-shade-5: dark-shade(0.05);

$primary-color: #bc9cff;
$secondary-color: #6fcf97;

$primary-gradient: linear-gradient(180deg, $primary-color 0%, #8ba4f9 100%);
$secondary-gradient: linear-gradient(180deg, $secondary-color 0%, #66d2ea 100%);

// fonts
$big-header-font: bold 24px 'Quicksand-Bold';
$medium-header-font: bold 19px 'Quicksand-Bold';
$small-header-font: bold 12px 'Montserrat-Bold';
$body-text-font: normal 14px 'Montserrat-Regular';

// input
$long-input-width: 320px;
$medium-input-width: 266px;
$short-input-width: 150px;
