extends ../../layout/base

include ../../components/search-card/search-card
include ../../components/registration-card/registration-card
include ../../components/login-card/login-card
include ../../components/booking-card/booking-card

block settings
  - const dark = true

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Cards

block body
  .cards
    +search-card

    +registration-card

    +login-card

    +booking-card({
      roomNumber: 888,
      price: '9 990',
      isLuxury: true
    })
