extends ../../layout/base

include ../../components/search-card/search-card
include ../../components/registration-card/registration-card
include ../../components/login-card/login-card

block settings
  - const dark = true

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Cards

block body
  .cards
    +search-card

    +registration-card

    +login-card
