extends /layout/base/base

include /components/date-dropdown/date-dropdown
include /layout/search-card/search-card
include /layout/registration-card/registration-card
include /layout/login-card/login-card
include /layout/booking-card/booking-card
include /layout/room-card/room-card

block settings
  - const dark = true

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Cards

block body
  - const { bookingCard, calendar, roomCard1, roomCard2 } = require('./cards.json')

  .cards
    .cards__cards-col
      .cards__card
        +search-card

      .cards__card
        +registration-card

    .cards__cards-col
      .cards__card
        +booking-card(bookingCard)

      .cards__card
        +login-card

    .cards__cards-col
      .cards__card
        +date-dropdown()(
          class='cards__date-dropdown'
          inline=calendar.inline
        )

      .cards__card
        +room-card(roomCard1)

      .cards__card
        +room-card(roomCard2)
