.text-field {
  $input_height: 44px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &_default,
  &_masked-date {
    width: 100%;
    max-width: $long-input-width;
  }

  &_subscription {
    width: $medium-input-width;

    &::after {
      @extend %material-icons;
      content: 'arrow_forward';
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include size($input_height, $input_height);
      cursor: pointer;
      @include text-gradient($primary-gradient);
    }
  }

  &__label,
  &__uikit-state {
    margin-bottom: 5px;
  }

  &__uikit-state {
    @extend %field__state;
  }

  &__input {
    @extend %field;

    flex-basis: 100%;
    padding-right: $input_height;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:focus,
    &:hover {
      @extend %field_hovered-focused;
    }
  }
}
