@import '../../variables.scss';
@import '../../mixins-lib.scss';

.text-field {
  $input_height: 44px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &_default,
  &_masked-date {
    width: $long_input_width;
  }

  &_subscription {
    width: $medium_input_width;
  }

  &__label,
  &__uikit-state {
    margin-bottom: 5px;
  }

  &__uikit-state {
    font-size: 12px;
    text-transform: uppercase;
    color: $dark_shade_50_color;
  }

  &__input {
    box-sizing: border-box;
    flex-basis: 100%;
    height: $input_height;
    padding-left: 15px;
    padding-right: $input_height;
    border: 1px solid $dark_shade_25_color;
    border-radius: 4px;
    color: $dark_shade_75_color;
    font: $body_text_font;

    &::placeholder {
      color: $dark_shade_25_color;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid $dark_shade_50_color;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size($input_height, $input_height);
    // thanks to: https://cssgradient.io/blog/css-gradient-text/
    background: $primary_gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
